!!! 5
%html
    %head
        %title Prodeo Academy
        %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
        %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/bootstrap.min.js"}
        %link{:href => "http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap.min.css", :rel => "stylesheet"}
        %link{:href => "http://fonts.googleapis.com/css?family=Asap", :rel => "stylesheet"}
        %link{:href => "/css/application.css", :rel => "stylesheet"}
        %script{:src => "/js/application.js"}
    %body
        .container#header
            .row
                .span4
                    %a{:href => "/"}
                        %img{:src => "/img/logo.png"}
                .span8
                    .row
                        .well.well-small.pull-right#social
                            .pull-left#facebook
                                .fb-like{:data => {:href => "https://www.facebook.com/prodeoacademy", :send => "true", :layout => "button_count", :width => "450", :"show-faces" => "false"}}

                            .pull-left#twitter
                                %a.twitter-follow-button{:href => "https://twitter.com/ProdeoAcademy", :data => {:"show-count" => "false"}} Follow @ProdeoAcademy

                    %ul.nav.nav-pills.pull-right#nav
                        %li.dropdown-submenu
                            %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
                                About Prodeo
                                %span.caret
                            = submenu(["Who We Are", "Our History", "Our Staff", "Our Board", "Our Advisory Council", "Our Partners"], "About")
                        %li.dropdown-submenu
                            %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
                                Our Approach
                                %span.caret
                            = submenu(["Our Mission", "Our Vision", "Our Core Values", "Our Family Partnership"], "Approach")
                        %li.dropdown-submenu
                            %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
                                Student Life
                                %span.caret
                            = submenu(["A Typical Day", "School Calendar", "Academics"], "Student Life")
                        %li.dropdown-submenu
                            %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
                                Results
                                %span.caret
                            = submenu(["Achievement Gap", "Our Results"], "Results")
                        %li.dropdown-submenu
                            %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
                                Contact Us
                                %span.caret
                            = submenu(["Directions", "Enroll Your Child", "Apply to Teach", "Apply to Tutor", "Volunteer"], "Contact")
        = yield :main
        %footer
            .container
                .pull-left
                    &copy; Copyright 2012 Prodeo Academy
                .pull-right
                    %a{:href => "/terms"} Terms of Use
                    |
                    %a{:href => "/privacy"} Privacy Policy