.container
    .row
        .span12.panel#panel-main
            .content
                %h2 Board of Directors
                %p Our board of directors has a wide variety of experience and expertise. Of our 10 members, six have significant experience in education and academics. We also have several board members with strong experience in finance, development, governance, and community relations.
                .row-fluid
                    .span12
                        %ul.thumbnails.board
                            = render :partial => "person", :locals => {:name => "Doug Jaeger", :role => "Board Chair, Former CEO of Adolfson & Peterson"}
                            = render :partial => "person", :locals => {:name => "Vidal Guzm&aacute;n", :role => "Senior Manager at Public Radio International"}
                            = render :partial => "person", :locals => {:name => "Mark Chronister", :role => "Board Treasurer, Partner at Templeton Laird"}
                            = render :partial => "person", :locals => {:name => "Jill Davies", :role => "Board Secretary, Consultant, Target"}
                        %ul.thumbnails.board
                            = render :partial => "person", :locals => {:name => "Rick Campion", :role => "Co-Founder, Executive Director, Prodeo Academy - Ex-Officio", :email => true}
                            = render :partial => "person", :locals => {:name => "Jeff Klinefelter", :role => "Managing Director, Head of Global Equities at Piper Jaffray"}
                            = render :partial => "person", :locals => {:name => "Mandy Lindstrom", :role => "Teacher, Prodeo Academy", :email => true}
                %h2 Community Engagment Committe
                .row-fluid
                    .span12
                        %ul.thumbnails.board
                            = render :partial => "person", :locals => {:name => "Kerry Givens", :role => "Executive Director, South Minneapolis YMCA"}
                            = render :partial => "person", :locals => {:name => "Neda Kellogg", :role => "Founder and CEO, Project Diva"}
                %h3 Board Meetings
                .row-fluid
                    .span5
                        %p
                            Our board meets on the fourth Wednesday of every other month at
                            %i 5:30pm.
                        %p
                            Our mission committee meets on the third Wednesday of every month at
                            %i 5:30pm.
                        %p
                            Our finance committee meets on the third Tuesday of every month at
                            %i 5:30pm.
                    .span7
                        %p
                            All meetings are held at Prodeo Academy at
                            %i 1555 40th Ave NE, Mpls, MN 55421.
                        %p
                            The upcoming agenda, all board minutes, and our Authorizer's Annual Report can be viewed on
                            = succeed '.' do
                                %a{:href => "https://drive.google.com/folderview?id=0B9F_q1nOg-J-ZDdzQVF3WWRRQU0&usp=sharing#list", :target => "_blank"} Google Drive
                .row-fluid
                    .span12
                        %hr
                        %p
                            %small Minnesota law requires that all chartered schools be authorized by an organization approved by the commissioner of education to be an authorizer.
                        %p
                            %small Prodeo Academy's authorizer is Innovative Quality Schools (IQS) which was approved as an authorizer on December 1, 2010.
                        %p
                            %small
                                Persons interested in learning more about IQS and their oversight of Prodeo Academy may go to:
                                %a{:href => "http://www.iqsmn.org/"} http://www.iqsmn.org
                                or contact Robert Wedl, Managing Partner: bob@iqsmn.org or 612-501-9606
