.container
    .row
        .span12.panel#panel-main
            .content
                %h2 Board of Directors
                %p Our board of directors has a wide variety of experience and expertise. Of our 10 members, six have significant experience in education and academics. We also have several board members with strong experience in finance, development, governance, and community relations.
                .row-fluid
                    .span12
                        %ul.thumbnails#board
                            = render :partial => "board", :locals => {:name => "John Alexander", :role => "Board Chair, Head of School, Groves Academy"}
                            = render :partial => "board", :locals => {:name => "Tara Stone", :role => "Community and Church Liaison, North Minneapolis"}
                            = render :partial => "board", :locals => {:name => "Lidibette Rosado-Guzm&aacute;n", :role => "Diversity Coordinator, World Language Teacher"}
                            = render :partial => "board", :locals => {:name => "Jill Johnson", :role => "Board Secretary, Senior Business Analyst, Target"}
                            = render :partial => "board", :locals => {:name => "Doug Jaeger", :role => "Treasurer, Former CEO of Adolfson & Peterson"}
                            = render :partial => "board", :locals => {:name => "Chancey Anderson", :role => "Co-Founder, Principal, Prodeo Academy; Lead Teacher, Uncommon"}
                            = render :partial => "board", :locals => {:name => "Rick Campion", :role => "Co-Founder, Executive Director, Prodeo Academy - Ex-Officio"}
                %h2 Community Engagment Committe
                .row-fluid
                    .span12
                        %ul.thumbnails#board
                            = render :partial => "board", :locals => {:name => "Kerry Givens", :role => "Executive Director, South Minneapolis YMCA"}
                            = render :partial => "board", :locals => {:name => "Neda Kellogg", :role => "Founder and CEO, Project Diva"}
                            = render :partial => "board", :locals => {:name => "Vidal Guzm&aacute;n", :role => "Senior Manager at Public Radio International"}
                %h3 Board Meetings
                .row-fluid
                    .span12
                        %p
                            Our Board meets every fourth Wednesday of the month at 5:30pm at
                            %i 1555 40th Ave NE, Mpls, MN 55421
                        %p
                            The upcoming agenda and all past board minutes can be viewed on
                            %a{:href => "https://drive.google.com/folderview?id=0B9F_q1nOg-J-ZDdzQVF3WWRRQU0&usp=sharing#list", :target => "_blank"} Google Docs
                            by clicking
                            = succeed '.' do
                                %a{:href => "https://drive.google.com/folderview?id=0B9F_q1nOg-J-ZDdzQVF3WWRRQU0&usp=sharing#list", :target => "_blank"} here
                        %br
                        %p
                            %small Minnesota law requires that all chartered schools be authorized by an organization approved by the commissioner of education to be an authorizer.
                        %p
                            %small Prodeo Academy's authorizer is Innovative Quality Schools (IQS) which was approved as an authorizer on December 1, 2010.
                        %p
                            %small
                                Persons interested in learning more about IQS and their oversight of Prodeo Academy may go to:
                                %a{:href => "http://www.iqsmn.org/"} http://www.iqsmn.org
                                or contact Robert Wedl, Managing Partner: bob@iqsmn.org or 612-501-9606
