.container
    .row
        .span12.panel#panel-main
            .content
                %h2 Board of Directors
                %p Our board of directors has a wide variety of experience and expertise. Of our 10 members, six have significant experience in education and academics. We also have several board members with strong experience in finance, development, governance, and community relations.
                .row-fluid
                    .span12
                        %ul.thumbnails.board
                            = render :partial => "person", :locals => {:name => "Rick Campion", :role => "Co-Founder, Executive Director, Prodeo Academy - Ex-Officio", :email => true}
                            = render :partial => "person", :locals => {:name => "Mark Chronister", :role => "Board Chair, Partner at Templeton Laird", :email => true}
                            = render :partial => "person", :locals => {:name => "Vidal Guzman", :role => "Senior Manager at Public Radio International", :email => true}
                            = render :partial => "person", :locals => {:name => "Skye Hoekstra", :role => "Teacher, Prodeo Academy", :email => true}
                        %ul.thumbnails.board
                            = render :partial => "person", :locals => {:name => "Doug Jaeger", :role => "Vice Chair, CEO Ulteig", :email => true}
                            = render :partial => "person", :locals => {:name => "Jeff Klinefelter", :role => "Board Treasurer, Managing Director, Head of Global Equities at Piper Jaffray", :email => true}
                            = render :partial => "person", :locals => {:name => "Lewis Remele", :role => ""}
                            = render :partial => "person", :locals => {:name => "Maggie Skrypek", :role => "Board Secretary", :email => true}
                %h2 Community Engagment Committe
                .row-fluid
                    .span12
                        %ul.thumbnails.board
                            = render :partial => "person", :locals => {:name => "Kerry Givens", :role => "Executive Director, South Minneapolis YMCA"}
                            = render :partial => "person", :locals => {:name => "Neda Kellogg", :role => "Founder and CEO, Project Diva"}
                %h3 Board Meetings
                .row-fluid
                    .span6
                        %p
                            Our board meets on the fourth Wednesday of every other month (January, March, May, July, September, and November) at
                            %i 5:30pm.
                        %p
                            Our mission committee meets on the third Wednesday of every month at
                            %i 5:30pm.
                        %p
                            Our finance committee meets on the third Tuesday of every month at
                            %i 5:30pm.
                    .span6
                        %p
                            Out governance committee meets on the second Tuesday of every other month  (February, April, June, August, October, December) at
                            %i 11:30am.
                        %p
                            All meetings are held at Prodeo Academy at
                            %i 1555 40th Ave NE, Mpls, MN 55421.
                        %p
                            The upcoming agenda, all board minutes, most recent audited financial statements, and our Authorizer's Annual Report can be viewed on
                            = succeed '.' do
                                %a{:href => "https://drive.google.com/folderview?id=0B9F_q1nOg-J-ZDdzQVF3WWRRQU0&usp=sharing#list", :target => "_blank"} Google Drive
                .row-fluid
                    .span12
                        %hr
                        %p
                            %small Minnesota law requires that all chartered schools be authorized by an organization approved by the commissioner of education to be an authorizer.
                        %p
                            %small Prodeo Academy's authorizer is Innovative Quality Schools (IQS) which was approved as an authorizer on December 1, 2010. Contact IQS:
                        %p
                            %small
                                Milo Cutter
                                %br
                                Innovative Quality Schools, (IQS)
                                %br
                                P.O. Box 40219
                                %br
                                St. Paul, MN 55104
                                %br
                                http://www.iqsmn.org
                                %br
                                651-234-0900
                                %br
                                mcutter@iqsmn.org
