.container
    .row
        .span12.panel#panel-main
            .content
                -#
                    %h2 Co-Founders
                    .row-fluid
                        = render :partial => "person", :locals => {:name => "Rick Campion", :role => "Executive Director", :email => true}
                        .span9
                            %p.lead Rick has experience in developing successful schools for children in Minneapolis. He was a member of the founding leadership team of Cristo Rey Jesuit High School in the Phillips neighborhood of South Minneapolis and the founding board of directors of Minneapolis College Preparatory. He has 14 years of experience as a teacher, and eight years in school administration.
                            %p.mini-lead.text-info rickcampion@prodeoacademy.org
                            %p.mini-lead.text-info (612) 559-4881
                    %br
                    .row-fluid
                        .span9
                            %p.lead Chancey has taught for ten years at the elementary, middle, and high school levels and has developed school-wide and network-wide curricula at each level. She taught for several years for the Cristo Rey Network in Minneapolis and for the Uncommon Schools Network in NY. She is also working on her degree as a Literacy Specialist from Columbia University.
                            %p.mini-lead.text-info chanceyanderson@prodeoacademy.org
                            %p.mini-lead.text-info (347) 982-5061
                        = render :partial => "person", :locals => {:name => "Chancey Anderson", :role => "Principal", :email => true}

                %h3 Administration
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Rick Campion", :role => "Executive Director", :email => true}
                            = render :partial => "person", :locals => {:name => "Chancey Anderson", :role => "Principal", :email => true}
                            = render :partial => "person", :locals => {:name => "Erica Jaastad", :role => "Academic Dean", :email => true}
                            = render :partial => "person", :locals => {:name => "Rachel Hemsey", :role => "Director of Operations", :email => true}
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Mary Barsness", :role => "Director of Student Services", :email => true}
                            = render :partial => "person", :locals => {:name => "Paris Kyles", :role => "Dean of Students", :email => true}
                            = render :partial => "person", :locals => {:name => "Skye Hoekstra", :role => "Dean of Teaching", :email => true}
                            = render :partial => "person", :locals => {:name => "Liz Ferguson", :role => "Assistant Principal", :email => true}

                %h3 Pre-Kindergarten
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Mandy Lindstrom", :role => "Teacher/Lead", :email => true}

                %h3 Kindergarten
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Sara Gonzalez", :role => "Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Jennifer Christensen", :role => "Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Kallie Fitzloff", :role => "Teacher", :email => true}

                %h3 First Grade
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Sarah Ehlen", :role => "Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Emily Jones", :role => "Teacher / Grade Team Chair", :email => true}
                            = render :partial => "person", :locals => {:name => "Alex McCoy", :role => "Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Amanda Laurent", :role => "Teacher", :email => true}

                %h3 Second Grade
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Ryan Noshay", :role => "Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Ashley Denaway", :role => "Teacher / Grade Team Chair", :email => true}
                            = render :partial => "person", :locals => {:name => "Rachel Dietsch", :role => "Teacher", :email => true}

                %h3 Third Grade
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Emily Hoeppner", :role => "Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Chad Ferguson", :role => "Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Nicole Black", :role => "Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Will McDuffie", :role => "Teacher", :email => true}

                %h3 Specials
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Sean Mayberry", :role => "Fitness Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Edward Schneider", :role => "Music Teacher", :email => true}

                %h3 Classroom Support
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Emma Lindley", :role => "Educational Assistant", :email => true}
                            = render :partial => "person", :locals => {:name => "Shanequa Cook", :role => "Educational Assistant", :email => true}
                            = render :partial => "person", :locals => {:name => "Bella Troy", :role => "Educational Assistant", :email => true}
                            = render :partial => "person", :locals => {:name => "Sylvester Carver", :role => "Educational Assistant", :email => true}
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Lisl von Steinbergs", :role => "Educational Assistant", :email => true}
                            = render :partial => "person", :locals => {:name => "Libby Sanders", :role => "Educational Assistant", :email => true}
                            = render :partial => "person", :locals => {:name => "Armani Wade", :role => "Educational Assistant", :email => true}
                            = render :partial => "person", :locals => {:name => "Laquita Davis", :role => "Educational Assistant", :email => true}
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Aaron Ziman", :role => "Educational Assistant", :email => true}
                            = render :partial => "person", :locals => {:name => "Sara Olson", :role => "Educational Assistant / Co-Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Andy Pokel", :role => "Educational Assistant / Co-Teacher", :email => true}

                %h3 Behavior Support
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Jeff Stensrud", :role => "Behavioral Specialist", :email => true}

                %h3 Learning Support
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Melissa Lindquist", :role => "English Language Learner Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Stephanie Tracy", :role => "Learning Support Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Taqwa Dardery", :role => "Social Worker", :email => true}
                            = render :partial => "person", :locals => {:name => "Ann Bexell", :role => "Learning Support Teacher", :email => true}
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Caroline Becker", :role => "Special Ed Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Rina Lang", :role => "Learning Support Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Philip Troy", :role => "Special Ed Teacher", :email => true}

                %h3 Support Staff
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Adi Perez", :role => "Office Manager", :email => true}
                            = render :partial => "person", :locals => {:name => "Ahmisa Cuadros", :role => "Administrative Assistant", :email => true}
                            = render :partial => "person", :locals => {:name => "Kelly Mulvehill", :role => "Mindfulness and Yoga Teacher / External Relations", :email => true}
                            = render :partial => "person", :locals => {:name => "Anita Kimaiga", :role => "Tutoring Coordinator/New Alliance Fellow", :email => true}
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Carla Esquibel", :role => "HHM Coordinator", :email => true}
