.container
    .row
        .span12.panel#panel-main
            .content
                %h2 Co-Founders
                .row-fluid
                    = render :partial => "person", :locals => {:name => "Rick Campion", :role => "Executive Director", :email => true}
                    .span9
                        %p.lead Rick has experience in developing successful schools for children in Minneapolis. He was a member of the founding leadership team of Cristo Rey Jesuit High School in the Phillips neighborhood of South Minneapolis and the founding board of directors of Minneapolis College Preparatory. He has 14 years of experience as a teacher, and eight years in school administration.
                        %p.mini-lead.text-info rickcampion@prodeoacademy.org
                        %p.mini-lead.text-info (612) 559-4881
                %br
                .row-fluid
                    .span9
                        %p.lead Chancey has taught for ten years at the elementary, middle, and high school levels and has developed school-wide and network-wide curricula at each level. She taught for several years for the Cristo Rey Network in Minneapolis and for the Uncommon Schools Network in NY. She is also working on her degree as a Literacy Specialist from Columbia University.
                        %p.mini-lead.text-info chanceyanderson@prodeoacademy.org
                        %p.mini-lead.text-info (347) 982-5061
                    = render :partial => "person", :locals => {:name => "Chancey Anderson", :role => "Principal", :email => true}
                %br
                %h3 Teachers
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Jennifer Christensen", :role => "Kindergarten Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Skye Hoekstra", :role => "Kindergarten Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Mandy Lindstrom", :role => "Kindergarten Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Rachel Dietsch", :role => "Kindergarten Teacher", :email => true}
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Charnay Paris", :role => "First Grade Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Ashley Willeck", :role => "First Grade Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Melissa Lindquist", :role => "First Grade Teacher", :email => true}
                            = render :partial => "person", :locals => {:name => "Camille Sypura", :role => "Science/Social Studies Teacher", :email => true}
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Paris Kyles", :role => "Fitness Coordinator", :email => true}
                            = render :partial => "person", :locals => {:name => "Eleanor Karr", :role => "Learning Support Teacher", :email => true}
                %h3 Academic Dean
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Erica Jaastad", :email => true}
                %h3 Social Worker
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Angela Shepherd", :email => true}
                %h3 Office Administrator
                .row-fluid
                    .span12
                        %ul.thumbnails
                            = render :partial => "person", :locals => {:name => "Adi Perez", :email => true}
